SNI_HOST_IP=192.168.1.10
DNS_PROXY_CONTAINER_IP=192.168.25.11
SNI_CONTAINER_IP=192.168.25.10
XRAY_CONTAINER_IP=192.168.25.12
SOCKS_SERVICE_PORT=1080
DNSPROXY_IMAGE_VERSION=v0.84.2
XRAY_IMAGE_VERSION=v26.3.27
SNI_IMAGE_VERSION=v1.4.1