# Image Names and Versions (Use GHCR images if you have any issues with pulling from Docker Hub)
SNI_IMAGE_NAME=shervinamd/sni-proxy
#SNI_IMAGE_NAME=ghcr.io/shervinamd/sni-proxy/sni-proxy
SNI_IMAGE_VERSION=v1.4.1
DNSPROXY_IMAGE_NAME=shervinamd/dnsproxy
#DNSPROXY_IMAGE_NAME=ghcr.io/shervinamd/sni-proxy/dnsproxy
DNSPROXY_IMAGE_VERSION=v0.84.2
XRAY_IMAGE_NAME=shervinamd/xray
#XRAY_IMAGE_NAME=ghcr.io/shervinamd/sni-proxy/xray
XRAY_IMAGE_VERSION=v26.3.27

# Network Configuration
SNI_HOST_IP=
DNS_PROXY_CONTAINER_IP=192.168.25.11
SNI_CONTAINER_IP=192.168.25.10
XRAY_CONTAINER_IP=192.168.25.12
SOCKS_SERVICE_PORT=1080